{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
    <title>Document</title> 
</head>
<body>  
    <div class="container-fluid vh-100">
        <div class="row h-100">
            <div class="col-md-6 left-section d-flex align-items-center">
                <div class="text-center p-5">
                    <h2>Vous êtes nouveau ?</h2>
                    <p>Créez un compte pour accéder à toutes les fonctionnalités extraordinaires de notre plateforme</p> <br>
                    <a href="{% url 'register' %}" class="btn login-link">S'inscrire</a>
                </div>
            </div>
            <div class="col-md-6 right-section d-flex align-items-center justify-content-center">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert" id="msg">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="login-form text-center"> 
                    <h2>Welcome back</h2>
                    <p>Entrez vos indentifiants pour continuer</p>
                    <form method="POST">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {% for error in form.non_field_errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <input type="email" name="{{ form.email.name }}" id="email" class="form-control custom-input" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="{{ form.password.name }}" id="password" class="form-control custom-input" placeholder="Mot de passe" required>
                            {% if form.errors.password %}
                                <div class="text-danger">
                                    {{ form.errors.password }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn signin-link" type="submit">Se connecter</button>
                        </div>
                    </form> 
                </div> 
            </div>
        </div>
    </div>
    
    

    <script src="{% static  'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/lightbox.min.js' %}"></script>
</body>
</html>