<!-- Table des matières -->

<div style="font-family: Arial, sans-serif; line-height: 2;">

    <h2 style="text-align: center; margin-bottom: 50px;">
        TABLE DES MATIÈRES
    </h2>

    <div style="padding: 0 30px;">

        <p style="margin-bottom: 18px;">
            <a href="#snq0">Pièce N°0 : Lettre d'Invitation à Soumissionner (le cas échéant)</a>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#snq1">Pièce N°1 : Avis d'Appel d'Offres (AAO)</a>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#snq2">Pièce N°2 : Règlement Général de l'Appel d'Offres (RGAO)</a>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#snq3">Pièce N°3 : Règlement Particulier de l'Appel d'Offres (RPAO)</a>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#snq4">Pièce N°4 : Cahier des Clauses Administratives Particulières (CCAP)</a>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#snq5">Pièce N°5 : Termes de Référence (TDR)</a>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#snq6">Pièce N°6 : Proposition Technique - Tableaux Types</a>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#snq7">Pièce N°7 : Proposition Financière - Tableaux Types</a>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#snq8">Pièce N°8 : Modèle de Marché</a>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#snq9">Pièce N°9 : Modèles ou Formulaires Types à Utiliser par les Soumissionnaires</a>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#snq10">Pièce N°10 : Charte d'Intégrité</a>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#snq11">Pièce N°11 : Déclaration d'Engagement au Respect des Clauses Sociales et Environnementales</a>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#snq12">Pièce N°12 : Visa de Maturité ou Justificatifs des Études Préalables</a>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#snq13">Pièce N°13 : Liste des Établissements Bancaires et Organismes Financiers Habilités</a>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#snq14">Pièce N°14 : Procédure de Soumission en Ligne</a>
        </p>

    </div>
</div>
