{% extends 'main.html' %}
{% load static %}

{% block extra_css %}
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style> 
        .card-title-icon {       /* Bordure */
            border-radius: 50%;           /* Arrondi total (cercle) */
            padding: 6px;                 /* Espacement autour de l'icône */
            background-color: #f5f5f5;    /* Optionnel : fond clair */
            font-size: 1.2rem;            /* Taille de l’icône (optionnel) */
            margin-right: 8px;            /* Espacement avec le texte */
          }
    </style>
{% endblock %}

{% block content %} 
    {% include '../partials/_header_dossier.html' with titre_dossier="Dossier d'appel d'offre national ouvert" numero_dossier="0089/AONO/MINEE/CIPM/2024" ministere="Ministère de l'eau et de l'energie" description_travaux="TRAVAUX DE CONSTRUCTION DES CANIVEAUX BETONNES DANS LA COMMUNE DE YAOUNDE 4" financement="Banque mondiale" imputation="1458 0125 2568" %}

    <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
            <button class="btn btn-sm btn-success"><i class="bi bi-download"></i> Générer le document</button>
        </div>
    </div>
    <br>
    <div class="row g-2">
        <div class="col-md-3">
            <div class="card" style="width: 16.5rem;"> 
                <div class="card-body">
                  <h5 class="card-title fw-bold"> <span class="card-title-icon text-center"><i class="bi bi-file-earmark-text"></i></span> Pièce N˚1.</h5>
                  <p class="card-text text-muted">AVIS D'APPEL D'OFFRES (AAO)</p> 
                  <a href="#" class="btn btn-outline-secondary btn-sm w-100">
                    <i class="bi bi-pencil-square me-1"></i> Modifier
                  </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 16.5rem;"> 
                <div class="card-body">
                  <h5 class="card-title fw-bold">Pièce N˚2.</h5>
                  <p class="card-text text-muted">Règlement Général de l'Appel d'Offres (RGAO)</p>
                  <a href="#" class="btn btn-outline-secondary btn-sm w-100">
                    <i class="bi bi-pencil-square me-1"></i> Modifier
                  </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 16.5rem;"> 
                <div class="card-body">
                  <h5 class="card-title fw-bold">Pièce N˚3.</h5>
                  <p class="card-text text-muted">Règlement Particulier de l’Appel d’Offres (RPAO)</p>
                  <a href="#" class="btn btn-outline-secondary btn-sm w-100">
                    <i class="bi bi-pencil-square me-1"></i> Modifier
                  </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 16.5rem;"> 
                <div class="card-body">
                  <h5 class="card-title fw-bold">Pièce N˚4.</h5>
                  <p class="card-text text-muted">Cahier des Clauses Administratives Particulières (CCAP)</p>
                  <a href="#" class="btn btn-outline-secondary btn-sm w-100">
                    <i class="bi bi-pencil-square me-1"></i> Modifier
                  </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 16.5rem;"> 
                <div class="card-body">
                  <h5 class="card-title fw-bold">Pièce N˚5.</h5>
                  <p class="card-text text-muted">Cahier des Clauses Techniques Particulières (CCTP)</p>
                  <a href="#" class="btn btn-outline-secondary btn-sm w-100">
                    <i class="bi bi-pencil-square me-1"></i> Modifier
                  </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 16.5rem;"> 
                <div class="card-body">
                  <h5 class="card-title fw-bold">Pièce N˚6.</h5>
                  <p class="card-text text-muted">Cadre du bordereau des prix unitaires</p>
                  <a href="#" class="btn btn-outline-secondary btn-sm w-100">
                    <i class="bi bi-pencil-square me-1"></i> Modifier
                  </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 16.5rem;"> 
                <div class="card-body">
                  <h5 class="card-title fw-bold">Pièce N˚7.</h5>
                  <p class="card-text text-muted">Cadre du détail quantitatif et estimatif</p>
                  <a href="#" class="btn btn-outline-secondary btn-sm w-100">
                    <i class="bi bi-pencil-square me-1"></i> Modifier
                  </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 16.5rem;"> 
                <div class="card-body">
                  <h5 class="card-title fw-bold">Pièce N˚8.</h5>
                  <p class="card-text text-muted">Cadre du sous-détail des prix</p> <br>
                  <a href="#" class="btn btn-outline-secondary btn-sm w-100">
                    <i class="bi bi-pencil-square me-1"></i> Modifier
                  </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 16.5rem;"> 
                <div class="card-body">
                  <h5 class="card-title fw-bold">Pièce N˚10.</h5>
                  <p class="card-text text-muted">Modèles ou formulaires types des pièces à utiliser par les Soumissionnaires</p>
                  <a href="#" class="btn btn-outline-secondary btn-sm w-100">
                    <i class="bi bi-pencil-square me-1"></i> Modifier
                  </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 16.5rem;"> 
                <div class="card-body">
                  <h5 class="card-title fw-bold">Pièce N˚11.</h5>
                  <p class="card-text text-muted">Le formulaire de la Charte d’Intégrité</p> <br>
                  <a href="#" class="btn btn-outline-secondary btn-sm w-100">
                    <i class="bi bi-pencil-square me-1"></i> Modifier
                  </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 16.5rem;"> 
                <div class="card-body">
                  <h5 class="card-title fw-bold">Pièce N˚12.</h5>
                  <p class="card-text text-muted">Le formulaire de la Déclaration d’engagement social et Environnemental</p>
                  <a href="#" class="btn btn-outline-secondary btn-sm w-100">
                    <i class="bi bi-pencil-square me-1"></i> Modifier
                  </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 16.5rem;"> 
                <div class="card-body">
                  <h5 class="card-title fw-bold">Pièce N˚13.</h5>
                  <p class="card-text text-muted">Le Visa de maturité ou Justificatifs des études préalables</p>
                  <a href="#" class="btn btn-outline-secondary btn-sm w-100">
                    <i class="bi bi-pencil-square me-1"></i> Modifier
                  </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 16.5rem;"> 
                <div class="card-body">
                  <h5 class="card-title fw-bold">Pièce N˚14.</h5>
                  <p class="card-text text-muted">La Liste des établissements bancaires et organismes habilités à émettre des cautions dans le
                    cadre des Marchés Publics.</p>
                  <a href="#" class="btn btn-outline-secondary btn-sm w-100">
                    <i class="bi bi-pencil-square me-1"></i> Modifier
                  </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}