<!-- Bordereau des prix unitaires -->
<div>
    <h1 style="padding-top:500px; text-align: center;"><a name="bookmark107">&zwnj;</a>PIECE N°6</h1>
    <p style="padding-top: 1pt;text-indent: 0pt;text-align: left;"><br/></p>
    <h1 style="padding-left: 3pt;text-indent: 0pt;text-align: center;">CADRE DU BORDEREAU DES PRIX UNITAIRES</h1>

    <div class="page-break"></div>
     
    
    <h2 style="padding-top: 3pt; text-align: center;">BORDEREAU DES PRIX UNITAIRES</h2>
    <p style="padding-top: 9pt;text-indent: 0pt;text-align: left;"><br/></p>

    <!--TABELEAU DU BORDEREAU DES PRIX UNITAIRES-->
</div>