<div id="version-francaise">
     <h1 style="font-size:24px; padding-top:500px; padding-left: 4pt;text-indent: 0pt;text-align: center;"><a name="bookmark7">&zwnj;</a>PIECE N° 1</h1><p style="padding-top: 1pt;text-indent: 0pt;text-align: left;"><br/></p><h1 style="text-indent: 0pt;text-align: center;">AVIS D' APPEL D'OFFRES</h1>
    <h1 style="text-align:center;">(AAO)</h1>

    <div class="page-break"></div>

    
    <h2 style="padding-top: 3pt;padding-left: 6pt;text-indent: 0pt;text-align: center;">AVIS D’ APPEL D’ OFFRES</h2>
    <p style="padding-top: 6pt;text-indent: 0pt;text-align: left;"><br/></p>
    <p style="text-align: center; text-transform:uppercase;"><b>Avis d’Appel d’Offres {{appel_offre.type_dossier}} {{appel_offre.mode_passation}} N°{{appel_offre.numero_appel_offre}} du _________________</b></p> <h4 style="padding-top: 6pt;padding-left: 6pt;text-indent: 0pt;text-align: center;">POUR  {{appel_offre.objet_appel}} </h4><p style="text-indent: 0pt;text-align: left;"><br/></p>
    <ol id="l4">
        
    <li data-list-text="1.">
        <h3 style="padding-left: 30pt;text-indent: -17pt;text-align: left;">Objet de l&#39;Appel d&#39;Offres</h3>
        <div style="padding:15px;">
            {{aao.objet_appel|safe}}
        </div> 
        <p style="text-indent: 0pt;text-align: left;"><br/></p>
    </li>
    <li data-list-text="2.">
        <h3 style="padding-left: 30pt;text-indent: -17pt;text-align: left;">Consistance des travaux</h3>
        <div id="sublist" style="padding:15px;">
            {{aao.consistence_travaux|safe}} 
        </div>

        <p style="padding-top: 5pt;text-indent: 0pt;text-align: left;"><br/></p>
    </li>
    <li data-list-text="3.">
        <h3 style="padding-left: 30pt;text-indent: -17pt;text-align: left;">Tranches/Allotissement</h3>
        <div id="sublist" style="padding:15px;">
            {{aao.tranches|safe}} 
        </div>
        <p style="padding-top: 6pt;text-indent: 0pt;text-align: left;"><br/></p>
    </li>
    
    <li data-list-text="4.">
    
        <h3 style="padding-left: 30pt;text-indent: -17pt;text-align: justify;">Coût prévisionnel</h3>
        <div id="sublist" style="padding:15px;">
            {{aao.cout_previsionnel|safe}}
        </div>
        <p style="padding-top: 6pt;text-indent: 0pt;text-align: left;"><br/></p>
    </li>
    
    <li data-list-text="5.">
        
        <h3 style="padding-left: 30pt;text-indent: -17pt;text-align: justify;">Délai prévisionnel d’exécution</h3>
        <div id="sublist" style="padding:15px;">
            {{aao.delai_previsionnel|safe}}
        </div>
    </li>

    <li data-list-text="6.">
        <h3 style="padding-top: 5pt;padding-left: 30pt;text-indent: -17pt;text-align: justify;">Participation et origine</h3>
        <div id="sublist" style="padding:15px;">
            {{aao.participation|safe}}
        </div>
    </li>
    
    <li data-list-text="7.">
        <h3 style="padding-top: 3pt;padding-left: 30pt;text-indent: -17pt;text-align: left;">Financement</h3>
        <div id="sublist" style="padding:15px;">
            {{aao.financement|safe}}
        </div>
    </li>
    <li data-list-text="8.">
        <h3 style="padding-left: 30pt;text-indent: -17pt;text-align: left;">Mode de soumission</h3>
        <div id="sublist" style="padding:15px;">
            <p>{{aao.mode_soumission|safe}}</p>
        </div>
    </li>
    
    <li data-list-text="9.">
        
        <h3 style="padding-top: 11pt;padding-left: 30pt;text-indent: -17pt;text-align: justify;">Cautionnement de soumission</h3>
        <div id="sublist" style="padding:15px;">
            {{aao.caution_soumission|safe}}
        </div>
    </li>
    
    <li data-list-text="10.">
        <h3 style="padding-top: 10pt;padding-left: 30pt;text-indent: -18pt;text-align: justify;">Consultation du Dossier d&#39;Appel d&#39;Offres</h3>
        <div id="sublist" style="padding:15px;">
            {{aao.consultation_dossier|safe}}
        </div>
    </li>
    
    <li data-list-text="11.">    
        <h3 style="padding-left: 30pt;text-indent: -18pt;text-align: justify;">Acquisition du Dossier d&#39;Appel d&#39;Offres</h3> 
        <div id="sublist" style="padding:15px;">
            {{aao.acquisition_dao|safe}}
        </div>
    </li>
    
    <li data-list-text="12.">
        <h3 style="padding-top: 10pt;padding-left: 30pt;text-indent: -18pt;text-align: left;">Remise des offres</h3> 
        <div id="sublist" style="padding:15px;">
            {{aao.remise_offre|safe}}
        </div>
    </li>
    
    <li data-list-text="13.">
        <h3 style="padding-top: 3pt;padding-left: 30pt;text-indent: -18pt;text-align: left;">Recevabilité des plis</h3>
        <div id="sublist" style="padding:15px;">
            {{aao.recevabilite_plis|safe}}
        </div>
    </li>
    
    <li data-list-text="14.">
        
        <h3 style="padding-left: 30pt;text-indent: -18pt;text-align: left;">Ouverture des plis</h3>
        <div id="sublist" style="padding:15px;">
            {{aao.ouverture_plis|safe}}
        </div>
    </li>
    
    <li data-list-text="15.">
        
        <h3 style="padding-top: 4pt;padding-left: 30pt; padding-bottom:15px;text-indent: -18pt;text-align: justify;">Critères d’évaluation</h3>
        
        <ol id="l8">
            <li data-list-text="15.1">
                <h4 style="padding-left: 40pt;text-indent: -23pt;text-align: justify;">Critères éliminatoires</h4> 
                <div id="sublist" style="padding:15px; padding-left:40px;">
                    {{aao.critere_eliminatoire|safe}}
                </div>
            </li>
            <li data-list-text="15.2">
                <h4 style="padding-left: 40pt;text-indent: -23pt;text-align: justify;">Critères essentiels</h4> 
                <div id="sublist" style="padding:15px; padding-left:30px;">
                    {{aao.critere_essentielles|safe}}  
                </div>
            </li>
        </ol>  
    </li>

    <li data-list-text="16.">
        <h3 style="padding-left: 30pt;text-indent: -18pt;text-align: justify;">Attribution</h3>
        <div id="sublist" style="padding:15px; padding-left:30px;">
            {{aao.attribution|safe}}
        </div>
    </li>

    <li data-list-text="17.">
        
        <h3 style="padding-top: 3pt;padding-left: 30pt;text-indent: -18pt;text-align: left;">Nombre maximum de lots :</h3>
        <div id="sublist" style="padding:15px; padding-left:30px;">
            {% if aao.nombre_max_lots and aao.nombre_max_lots != 0 %}
                <p> Un candidat peut soumissionner pour un ou plusieurs lots, mais ne peut être attributaire de plust de <b></b>{{aao.nombre_max_lots}}</b> lot(s) </p>
            {% else %}
                <p> Sans objet </p>
            {% endif %}
        </div>
    </li>
    
    <li data-list-text="18.">
        <h3 style="padding-left: 30pt;text-indent: -18pt;text-align: left;">Durée de validité des offres</h3>
        <div id="sublist" style="padding:15px; padding-left:30px;">
            <p> Les soumissionnaires restent engagés par leurs offre pendant {{aao.duree_validite}} jours à partir de la date limite fixée pour la remise des offres. </p>
        </div> 
    </li>
    
    <li data-list-text="19.">
        <h3 style="padding-left: 30pt;text-indent: -18pt;text-align: left;">Renseignements complémentaires</h3>
        <div id="sublist" style="padding:15px; padding-left:30px;">
            {{aao.renseignement_complementaires|safe}}
        </div> 
    </li>
    
    <li data-list-text="20.">
        
        <h3 style="padding-top: 15pt;padding-left: 30pt;text-indent: -18pt;text-align: left;">Lutte contre la corruption et les mauvaises pratiques</h3></li></ol><p style="padding-top: 14pt;padding-left: 12pt;text-indent: 0pt;line-height: 150%;text-align: justify;">Pour toute dénonciation pour des pratiques, faits ou actes de corruption ou faits de mauvaises pratiques, bien vouloir appeler la CONAC au numéro 1517, l’Autorité chargée des Marchés Publics (MINMAP) (SMS ou appel) aux numéros : (+237) 673 20 57 25 et 699 37 07 48,  ou le MO/MOD au {{aao.numero_moa}}</p> <br>
        <p style="text-indent: 0pt;text-align: left;"><br/></p>
        <br> <br> <br>

        <p class="s9" style="padding-left: 12pt;text-indent: 0pt;text-align: left;">Copies :</p>
        <ul id="l11">
            <li data-list-text="-">
                <h4 style="padding-top: 6pt;padding-left: 30pt;text-indent: -17pt;text-align: left;">Autorité chargée des Marchés Publics (MINMAP)</h4>
            </li>
            <li data-list-text="-">
                <h4 style="padding-top: 6pt;padding-left: 30pt;text-indent: -17pt;text-align: left;">ARMP</h4>
            </li>
            <li data-list-text="-">
                <h4 style="padding-top: 6pt;padding-left: 30pt;text-indent: -17pt;text-align: left;">Maître d’Ouvrage ou MOD concerné, le cas échéant ;</h4>
            </li>
            <li data-list-text="-">
                <h4 style="padding-top: 7pt;padding-left: 30pt;text-indent: -17pt;text-align: left;">Président CPM concerné</h4>
            </li>
            <li data-list-text="-">
                <h4 style="padding-top: 6pt;padding-left: 30pt;text-indent: -17pt;text-align: left;">Présidents de CCCM, le cas échéant ;</h4>
            </li>
            <li data-list-text="-">
                <h4 style="padding-top: 6pt;padding-left: 30pt;text-indent: -17pt;text-align: left;">Affichage chrono</h4>
            </li>
        </ul>
    </ol>    
</div>

<div class="page-break"></div>

<div id="version-anglaise"> 

    <h2 style="padding-top: 3pt;padding-left: 6pt;text-indent: 0pt;text-align: center;">TENDER NOTICE</h2>
    <p style="padding-top: 6pt;text-indent: 0pt;text-align: left;"><br/></p>
    <p style="text-align: center; text-transform:uppercase;"><b>Invitation to Tender {{appel_offre.type_dossier}} {{appel_offre.mode_passation_en}} No {{appel_offre.numero_appel_offre}} of _________________</b></p> <h4 style="padding-top: 6pt;padding-left: 6pt;text-indent: 0pt;text-align: center;">FOR  {{appel_offre.objet_appel}} </h4><p style="text-indent: 0pt;text-align: left;"><br/></p>
    <ol id="l4-en">
        
    <li data-list-text="1.">
        <h3 style="padding-left: 30pt;text-indent: -17pt;text-align: left;">Subject of the Invitation to Tender</h3>
        <div style="padding:15px;">
            {{aao.objet_appel_en|safe}}
        </div> 
        <p style="text-indent: 0pt;text-align: left;"><br/></p>
    </li>
    <li data-list-text="2.">
        <h3 style="padding-left: 30pt;text-indent: -17pt;text-align: left;">Nature of Works</h3>
        <div id="sublist-en" style="padding:15px;">
            {{aao.consistence_travaux_en|safe}} 
        </div>

        <p style="padding-top: 5pt;text-indent: 0pt;text-align: left;"><br/></p>
    </li>
    <li data-list-text="3.">
        <h3 style="padding-left: 30pt;text-indent: -17pt;text-align: left;">Tranches/Allotment</h3>
        <div id="sublist-en" style="padding:15px;">
            {{aao.tranches_en|safe}} 
        </div>
        <p style="padding-top: 6pt;text-indent: 0pt;text-align: left;"><br/></p>
    </li>
    
    <li data-list-text="4.">
    
        <h3 style="padding-left: 30pt;text-indent: -17pt;text-align: justify;">Estimated Cost</h3>
        <div id="sublist-en" style="padding:15px;">
            {{aao.cout_previsionnel_en|safe}}
        </div>
        <p style="padding-top: 6pt;text-indent: 0pt;text-align: left;"><br/></p>
    </li>
    
    <li data-list-text="5.">
        
        <h3 style="padding-left: 30pt;text-indent: -17pt;text-align: justify;">Estimated Execution Deadline</h3>
        <div id="sublist-en" style="padding:15px;">
            {{aao.delai_previsionnel_en|safe}}
        </div>
    </li>

    <li data-list-text="6.">
        <h3 style="padding-top: 5pt;padding-left: 30pt;text-indent: -17pt;text-align: justify;">Participation and Origin</h3>
        <div id="sublist-en" style="padding:15px;">
            {{aao.participation_en|safe}}
        </div>
    </li>
    
    <li data-list-text="7.">
        <h3 style="padding-top: 3pt;padding-left: 30pt;text-indent: -17pt;text-align: left;">Funding</h3>
        <div id="sublist-en" style="padding:15px;">
            {{aao.financement_en|safe}}
        </div>
    </li>
    <li data-list-text="8.">
        <h3 style="padding-left: 30pt;text-indent: -17pt;text-align: left;">Bidding Method</h3>
        <div id="sublist-en" style="padding:15px;">
            <p>{{aao.mode_soumission_en|safe}}</p>
        </div>
    </li>
    
    <li data-list-text="9.">
        
        <h3 style="padding-top: 11pt;padding-left: 30pt;text-indent: -17pt;text-align: justify;">Bid Bond</h3>
        <div id="sublist-en" style="padding:15px;">
            {{aao.caution_soumission_en|safe}}
        </div>
    </li>
    
    <li data-list-text="10.">
        <h3 style="padding-top: 10pt;padding-left: 30pt;text-indent: -18pt;text-align: justify;">Consultation of Tender File</h3>
        <div id="sublist-en" style="padding:15px;">
            {{aao.consultation_dossier_en|safe}}
        </div>
    </li>
    
    <li data-list-text="11.">    
        <h3 style="padding-left: 30pt;text-indent: -18pt;text-align: justify;">Acquisition of Tender File</h3> 
        <div id="sublist-en" style="padding:15px;">
            {{aao.acquisition_dao_en|safe}}
        </div>
    </li>
    
    <li data-list-text="12.">
        <h3 style="padding-top: 10pt;padding-left: 30pt;text-indent: -18pt;text-align: left;">Submission of Bids</h3> 
        <div id="sublist-en" style="padding:15px;">
            {{aao.remise_offre_en|safe}}
        </div>
    </li>
    
    <li data-list-text="13.">
        <h3 style="padding-top: 3pt;padding-left: 30pt;text-indent: -18pt;text-align: left;">Admissibility of Bids</h3>
        <div id="sublist-en" style="padding:15px;">
            {{aao.recevabilite_plis_en|safe}}
        </div>
    </li>
    
    <li data-list-text="14.">
        
        <h3 style="padding-left: 30pt;text-indent: -18pt;text-align: left;">Opening of Bids</h3>
        <div id="sublist-en" style="padding:15px;">
            {{aao.ouverture_plis_en|safe}}
        </div>
    </li>
    
    <li data-list-text="15.">
        
        <h3 style="padding-top: 4pt;padding-left: 30pt; padding-bottom:15px;text-indent: -18pt;text-align: justify;">Evaluation Criteria</h3>
        
        <ol id="l8-en">
            <li data-list-text="15.1">
                <h4 style="padding-left: 40pt;text-indent: -23pt;text-align: justify;">Eliminatory Criteria</h4> 
                <div id="sublist-en" style="padding:15px; padding-left:40px;">
                    {{aao.critere_eliminatoire_en|safe}}
                </div>
            </li>
            <li data-list-text="15.2">
                <h4 style="padding-left: 40pt;text-indent: -23pt;text-align: justify;">Essential Criteria</h4> 
                <div id="sublist-en" style="padding:15px; padding-left:30px;">
                    {{aao.critere_essentielles_en|safe}}  
                </div>
            </li>
        </ol>  
    </li>

    <li data-list-text="16.">
        <h3 style="padding-left: 30pt;text-indent: -18pt;text-align: justify;">Award of Contract</h3>
        <div id="sublist-en" style="padding:15px; padding-left:30px;">
            {{aao.attribution_en|safe}}
        </div>
    </li>

    <li data-list-text="17.">
        
        <h3 style="padding-top: 3pt;padding-left: 30pt;text-indent: -18pt;text-align: left;">Maximum Number of Lots:</h3>
        <div id="sublist-en" style="padding:15px; padding-left:30px;">
            {% if aao.nombre_max_lots and aao.nombre_max_lots != 0 %}
                <p> A bidder may tender for one or several lots, but cannot be awarded more than <b>{{aao.nombre_max_lots}}</b> lot(s). </p>
            {% else %}
                <p> Not applicable </p>
            {% endif %}
        </div>
    </li>
    
    <li data-list-text="18.">
        <h3 style="padding-left: 30pt;text-indent: -18pt;text-align: left;">Duration of Validity of Bids</h3>
        <div id="sublist-en" style="padding:15px; padding-left:30px;">
            <p> Bidders shall remain committed to their bids for {{aao.duree_validite}} days from the deadline set for the submission of bids. </p>
        </div> 
    </li>
    
    <li data-list-text="19.">
        <h3 style="padding-left: 30pt;text-indent: -18pt;text-align: left;">Further Information</h3>
        <div id="sublist-en" style="padding:15px; padding-left:30px;">
            {{aao.renseignement_complementaires_en|safe}}
        </div> 
    </li>
    
    <li data-list-text="20.">
        
        <h3 style="padding-top: 15pt;padding-left: 30pt;text-indent: -18pt;text-align: left;">Fight Against Corruption and Malpractices</h3></li></ol><p style="padding-top: 14pt;padding-left: 12pt;text-indent: 0pt;line-height: 150%;text-align: justify;">For any denunciation of corruption practices, facts or acts, or malpractices, please call the National Anti-Corruption Commission (CONAC) on 1517, the Authority in charge of Public Contracts (MINMAP) (SMS or call) on: (+237) 673 20 57 25 and 699 37 07 48, or the Project Owner / Delegated Project Owner (PO/DPO) on {{aao.numero_moa}}</p> <br>
        <p style="text-indent: 0pt;text-align: left;"><br/></p>
        <br> <br> <br>

        <p class="s9" style="padding-left: 12pt;text-indent: 0pt;text-align: left;">Copies :</p>
        <ul id="l11-en">
            <li data-list-text="-">
                <h4 style="padding-top: 6pt;padding-left: 30pt;text-indent: -17pt;text-align: left;">Authority in charge of Public Contracts (MINMAP)</h4>
            </li>
            <li data-list-text="-">
                <h4 style="padding-top: 6pt;padding-left: 30pt;text-indent: -17pt;text-align: left;">ARMP</h4>
            </li>
            <li data-list-text="-">
                <h4 style="padding-top: 6pt;padding-left: 30pt;text-indent: -17pt;text-align: left;">Project Owner or Delegated Project Owner concerned, if applicable ;</h4>
            </li>
            <li data-list-text="-">
                <h4 style="padding-top: 7pt;padding-left: 30pt;text-indent: -17pt;text-align: left;">Chairperson of the Tenders Board concerned</h4>
            </li>
            <li data-list-text="-">
                <h4 style="padding-top: 6pt;padding-left: 30pt;text-indent: -17pt;text-align: left;">Chairpersons of the CCCB, if applicable ;</h4>
            </li>
            <li data-list-text="-">
                <h4 style="padding-top: 6pt;padding-left: 30pt;text-indent: -17pt;text-align: left;">Notice board</h4>
            </li>
        </ul>
    </ol>    
</div>