<div>
    <h1 style="padding-top:500px; text-align: center;"><a name="cr9"></a>PIECE N° 9</h1>
    <p style="text-indent: 0pt;text-align: left;"><br/></p>
    <h1 style="text-indent: 0pt;text-align: center;">CADRE DU SOUS-DETAIL DES PRIX OU DECOMPOSITION DES PRIX FORFAITAIRES</h1>
    <div class="page-break"></div>

    <h3 style="margin-top: 18px;">DÉCOMPOSITION DES PRIX FORFAITAIRES</h3>
    <p style="text-align: justify; margin: 8px 0;">Note relative à la présentation des cadres de sous détails de prix et taxes</p>
    <p style="text-align: justify; margin: 8px 0;">1. Un sous détail expose toutes les étapes d’établissement d’un prix de vente. Aussi, constitue-t-il un<br>élément important d’appréciation de la qualité du prix proposé par un soumissionnaire.</p>
    <p style="text-align: justify; margin: 8px 0;">Il n’est pas nécessaire d’imposer un modèle de présentation à tous les soumissionnaires, compte tenu de<br>la grande diversité de logiciels de détermination des sous- détails de prix. En revanche, ils devront comporter<br>les éléments suivants :</p>
    <p style="text-align: justify; margin: 8px 0;">a. Détail du coefficient de vente suivant le modèle présenté après la présente note ;<br>       b. Coût en prix secs des matériels prévus pour le chantier ;<br>       c. Coût en prix secs des fournitures nécessaires au chantier ;<br>       d. Coût de la main d’œuvre locale et expatriée ;<br>       e. Pour chaque prix du bordereau, une fiche issue des points 1, 2, 3 et 4 susvisés, indiquant les</p>
    <p style="text-align: justify; margin: 8px 0;">rendements conduisant aux prix unitaires ;<br>       f. Le sous détail précis des forfaits d’installation du camp de base, d’amenée et de retour du matériel,</p>
    <p style="text-align: justify; margin: 8px 0;">du laboratoire et ses équipements, d’aménagement d’une carrière (le cas échéant), etc. ;<br>       g. Le sous détail précis des forfaits d’aménagement, d’entretien des locaux et de fourniture des moyens</p>
    <p style="text-align: justify; margin: 8px 0;">mis à la disposition de l’Administration ;<br>       h. Le sous détail des impôts et taxes.</p>
    <p style="text-align: justify; margin: 8px 0;">2. Cadre de présentation du coefficient de vente, encore appelé coefficients de frais généraux.</p>
    <p style="text-align: justify; margin: 8px 0;">A. Frais généraux de chantier</p>
    <p style="text-align: justify; margin: 8px 0;">- Etudes                       …..</p>
    <p style="text-align: justify; margin: 8px 0;">-…                             …..</p>
    <p style="text-align: justify; margin: 8px 0;">-…</p>
    <p style="text-align: justify; margin: 8px 0;">Total                          C1</p>
    <p style="text-align: justify; margin: 8px 0;">B. Frais généraux de siège</p>
    <p style="text-align: justify; margin: 8px 0;">- Frais de siège               …..</p>
    <p style="text-align: justify; margin: 8px 0;">- Frais financiers             …..</p>
    <p style="text-align: justify; margin: 8px 0;">-…                             …..</p>
    <p style="text-align: justify; margin: 8px 0;">- Aléas et bénéfice            …..</p>
    <p style="text-align: justify; margin: 8px 0;">Total                                              C2</p>
    <p style="text-align: justify; margin: 8px 0;">Coefficient de vente k = 100/(100-C) avec C=C1+C2</p>
    <p style="text-align: justify; margin: 8px 0;">3. Le Maître d’Ouvrage peut proposer un cadre du sous détail des prix unitaires comportant les<br>éléments énoncés au point 1 ci-dessus.</p>
</div>