<div>
    <h1 style="padding-top:500px; text-align: center;"><a name="cr8"></a>PIECE N° 8</h1>
    <h1 style="text-align:center;">CADRE DU DETAIL QUANTITATIF ET ESTIMATIF</h1>

    <div class="page-break"></div>

    <h2 style="padding-top: 3pt; text-align: center;">DETAIL QUANTITATIF ET ESTIMATIF</h2>
    <p style="padding-top: 9pt;text-indent: 0pt;text-align: left;"><br/></p>

    <table class="table" style="width: 100%; border-collapse: collapse; border: 1px solid #1a1a1a;">
        <thead>
            <tr>
                <th colspan="6" style="text-transform: uppercase; font-weight: bold; text-align: center; padding: 15px 5px;">DEVIS QUANTITATIF ET ESTIMATIF POUR L'EXECUTION DES TRAVAUX DE : {{ appel_offre.objet_appel }}</th>
            </tr>
            <tr style="background-color: #f2f2f2;">
                <th style="border: 1px solid #1a1a1a; padding: 12px; text-align: left;">N° Prix</th>
                <th style="border: 1px solid #1a1a1a; padding: 12px; text-align: left;">Désignation</th>
                <th style="border: 1px solid #1a1a1a; padding: 12px; text-align: left;">Unité</th>
                <th style="border: 1px solid #1a1a1a; padding: 12px; text-align: left;">Qté</th>
                <th style="border: 1px solid #1a1a1a; padding: 12px; text-align: left;">Prix Unitaire</th>
                <th style="border: 1px solid #1a1a1a; padding: 12px; text-align: left;">Prix Total</th>
            </tr>
        </thead>

        <tbody>
            {% for ligne in bpu_dqe %}
                {% if ligne.type == 'section' %}
                <tr>
                    <td colspan="6" style="border: 1px solid #1a1a1a; padding: 12px; text-align: center; font-weight: bold; text-transform: uppercase;">{{ ligne.title }}</td>
                </tr>
                {% else %}
                <tr>
                    <td style="border: 1px solid #1a1a1a; padding: 12px; text-align: left;">{{ ligne.code }}</td>
                    <td style="border: 1px solid #1a1a1a; padding: 12px; text-align: left; text-transform: capitalize;">{{ ligne.designation }}</td>
                    <td style="border: 1px solid #1a1a1a; padding: 12px; text-align: left;">{{ ligne.unit }}</td>
                    <td style="border: 1px solid #1a1a1a; padding: 12px; text-align: left;">{{ ligne.quantity }}</td>
                    <td style="border: 1px solid #1a1a1a; padding: 12px; text-align: left;"> </td>
                    <td style="border: 1px solid #1a1a1a; padding: 12px; text-align: left;"> </td>
                </tr>
                {% endif %}
            {% empty %}
                <tr>
                    <td colspan="6" style="text-align:center; color:#888; padding: 20px; font-style: italic;">
                        Aucune ligne pour le moment.
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4" style="border: 1px solid #1a1a1a; padding: 12px; text-align: right; font-weight: bold;">A- Total général HT</td>
                <td style="border: 1px solid #1a1a1a; padding: 12px;"></td>
                <td style="border: 1px solid #1a1a1a; padding: 12px;"></td>
            </tr>
            <tr>
                <td colspan="4" style="border: 1px solid #1a1a1a; padding: 12px; text-align: right; font-weight: bold;">B- Montant TVA (% de A)</td>
                <td style="border: 1px solid #1a1a1a; padding: 12px;">19.25%</td>
                <td style="border: 1px solid #1a1a1a; padding: 12px;"></td>
            </tr>
            <tr>
                <td colspan="4" style="border: 1px solid #1a1a1a; padding: 12px; text-align: right; font-weight: bold;">C- Montant TTC (A+B)</td>
                <td style="border: 1px solid #1a1a1a; padding: 12px;"></td>
                <td style="border: 1px solid #1a1a1a; padding: 12px;"></td>
            </tr>
        </tbody>
    </table>
</div>
