<div>
    <h1 style="padding-top:500px; text-align: center;"><a name="cr5"></a>PIECE N° 5</h1>
    <h1 style="text-align:center;">TERMES DE REFERENCE</h1>
    <h2 style="text-align:center;">(TDR)</h2>

    <div class="page-break"></div>

    <div style="padding:15px;">
        <h3>I. Contexte et justification</h3><div style="padding:10px;">{{ tdr.contexte_justification|safe }}</div>
        <h3>II. Objectif de la conception</h3><div style="padding:10px;">{{ tdr.objectif_conception|safe }}</div>
        <h3>III. Résultats attendus (propositions artistique et technique)</h3><div style="padding:10px;">{{ tdr.resultats_attendus|safe }}</div>
        <h3>IV. Qualification des consultants</h3><div style="padding:10px;">{{ tdr.qualification_consultants|safe }}</div>
    </div>
</div>
