<div>
    <h1 style="padding-top:500px; text-align: center;"><a name="cr17"></a>PIECE N° 17</h1>
    <h1 style="text-align:center;">JUSTIFICATIFS DES ETUDES PREALABLES</h1>
    <h2 style="text-align:center;">(LE CAS ECHEANT)</h2>

    <div class="page-break"></div>

    <div style="margin: 30px 0;"> 
        <p style="font-style:italic">
            [A remplir systématiquement par le Maître d’Ouvrage en fonction de la nature des prestations à réaliser et selon les précisions du point 5.a de la circulaire n° 003/CAB/PM du 18 avril 2008 relative au respect des règles régissant la passation, l’exécution et le contrôle des marchés publics].
        </p>
    </div>
    <br><br>

    <h3 style="margin:50px 0px;">Note relative aux études préalables</h3>

    <p>Conformément au Code des Marchés Publics, le Maître d’Ouvrage ou le Maître d’Ouvrage Délégué, doit, avant d’engager la procédure de passation des marchés ou de saisine de la Commission de Passation  des Marchés compétente, veiller à ce que les projets de Dossiers d’Appel d’Offres se fassent à partir d’études préalables.</p>
    <br><br>

    <p>Ces études doivent être exigées lors de l’examen du Dossier d’Appel d’Offres (DAO) par les Commissions des Marchés.</p>
    <br><br>

    <p>Le Maître d’Ouvrage est tenu de remplir le questionnaire en annexe 1 accompagné des justificatifs des dites  études.</p>

    <div class="page-break"></div>
    <br><br>

    
    <p style="font-weight: bold; margin: 0 0 20px 0;">Justificatif des &eacute;tudes pr&eacute;alables</p>
    
    <p style="margin: 0 0 12px 60px;">
    <span style="display: inline-block; width: 30px;">1.</span>
    Joindre l'&eacute;tude préalable:
    </p> <br>
    
    <p style="margin: 0 0 4px 60px;">
    <span style="display: inline-block; width: 30px;">2.</span>
    Indiquer&nbsp;:
    </p> <br>
    
    <p style="margin: 0 0 4px 110px;">
    <span style="display: inline-block; width: 40px;">2.1.</span>
    La date de la réalisation de l'étude;
    </p> <br>
    
    <p style="margin: 0 0 4px 110px;">
    <span style="display: inline-block; width: 40px;">2.2.</span>
    Le nom du Maître d'&OElig;uvre public ou priv&eacute; l'ayant r&eacute;alis&eacute;&nbsp;;
    </p> <br>
    
    <p style="margin: 0 0 12px 110px;">
    <span style="display: inline-block; width: 40px;">2.3.</span>
    Les r&eacute;f&eacute;rences du march&eacute;, si ma&icirc;trise d'&oelig;uvre priv&eacute;e l'ayant r&eacute;alis&eacute;&nbsp;;
    </p> <br>
    
    <p style="margin: 0 0 4px 60px;">
    <span style="display: inline-block; width: 30px;">2.4</span>
    Si entretien
    </p> <br>
    
    <p style="margin: 0 0 4px 110px;">
    <span style="display: inline-block; width: 40px;">2.4.1.</span>
    Description des &eacute;tudes&nbsp;;
    </p> <br>
    
    <p style="margin: 0 0 12px 110px;">
    <span style="display: inline-block; width: 40px;">2.4.2.</span>
    Joindre les relev&eacute;s de d&eacute;gradations ainsi que les documents de programmation adopt&eacute;s
    </p> <br>
    
    <p style="margin: 0 0 4px 60px;">
    <span style="display: inline-block; width: 30px;">2.5.</span>
    Si r&eacute;habilitation ou travaux neufs
    </p> <br>
    
    <p style="margin: 0 0 4px 110px;">
    <span style="display: inline-block; width: 40px;">2.5.1.</span>
    Les quantit&eacute;s du d&eacute;tail estimatif sont-elles celles de l'&eacute;tude&nbsp;;
    </p> <br>
    
    <p style="margin: 0 0 4px 110px;">
    <span style="display: inline-block; width: 40px;">2.5&nbsp;2.</span>
    Description des &eacute;tudes&nbsp;: APS, APD&nbsp;;
    </p> <br>
    
    <p style="margin: 0 0 30px 110px;">
    <span style="display: inline-block; width: 40px;">2.5.3.</span>
    Joindre lesdites &eacute;tudes.
    </p> <br><br>
    
    <p style="font-style: italic; margin: 0 0 10px 0;">N.B&nbsp;:</p>
    
    <p style="margin: 0 0 6px 25px;">
    <span style="display: inline-block; width: 20px;">-</span>
    Pour les prestations de moindre envergure, le Ma&icirc;tre d'Ouvrage peut fournir un calcul justificatif des quantit&eacute;s du DAO&nbsp;:
    </p> <br>
    
    <p style="margin: 0 0 6px 25px;">
    <span style="display: inline-block; width: 20px;">-</span>
    Le Pr&eacute;sident de la Commission des March&eacute;s peut avant de se prononcer, solliciter l'avis d'un expert sur la qualit&eacute; des &eacute;tudes r&eacute;alis&eacute;es.
    </p>


</div>
