<div class="font-size:18px;">
    <h1 style="padding-top:500px; text-align: center;"><a name="cr13"></a>PIECE N° 13</h1>
    <p style="text-indent: 0pt;text-align: left;"><br/></p>
    <h1 style="text-indent: 0pt;text-align: center;">MODELES DES PIECES ET TABLEAUX TYPES POUR LA PROPOSITION FINANCIERE</h1>


    <div class="page-break"></div>

    <h3 style="margin-top: 18px;">Récapitulatif des tableaux types</h3> <br>

    
    <p>13. A. Lettre de soumission de la proposition financière</p> <br>
    <p>13. B. Etat récapitulatif des coûts</p> <br>
    <p>13. C. Ventilation des coûts par activité</p> <br>
    <p>13. D. Coût Unitaire du Personnel Clef</p> <br>
    <p>13. E. Coût Unitaire du Personnel d’Exécution</p> <br>
    <p>13. F. Ventilation de la rémunération par activité</p> <br>
    <p>13. G. Frais remboursables par activité</p> <br>
    <p>13. H. Frais divers pour les marchés à paiement par prix unitaires pour les marchés à paiement par prix unitaires</p> <br>
    <p>13. I. Cadre du Bordereau des prix unitaires</p> <br>
    <p>13. J. Cadre du détail estimatif</p><br>
    <p>
        13. K. Cadre du sous-détail des prix unitaires
        <ol>
            <li>Prix unitaires élémentaires (cf. 13.D. ; 13.E.; etc…) ;</li>
            <li>Décomposition des prix unitaires ;</li>
            <li>Frais remboursables, le cas échéant.</li>
        </ol>
    </p>  <br>

    <div class="page-break"></div>

    <h3>13.A. Lettre de soumission de la proposition financière</h3> <br>

    <p style="font-style: italic;">[Lieu, date]</p>
    <p>À : <span style="font-style: italic;">[Nom et adresse du Maître d’Ouvrage ou du Maître d’Ouvrage Délégué]</span></p> <br><br>

    <p>Madame/Monsieur,</p>
    <p>Vous trouverez ci-joint notre Proposition financière dont le montant est détaillé dans le tableau ci-après :</p> 

    
    <table style="border-collapse: collapse; width: 100%; table-layout: fixed; border: 1px solid #000;">
    <colgroup>
        <col style="width: 22%;">
        <col style="width: 26%;">
        <col style="width: 26%;">
        <col style="width: 26%;">
    </colgroup>
    
    <!-- EN-TETES -->
    <tr>
        <th style="border: 1px solid #000; padding: 4px;">&nbsp;</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold;">Co&ucirc;ts de la Phase 1<br>(conception ou des &eacute;tudes)</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold;">Co&ucirc;ts de la Phase 2<br>(r&eacute;alisation des travaux)</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold;">Co&ucirc;ts Globaux du March&eacute;<br>(Phase 1 et Phase 2)</th>
    </tr>
    
    <!-- Montant HTVA -->
    <tr>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top; text-align: left;">Montant HTVA (francs CFA)</td>
        <td style="border: 1px solid #000; padding: 4px; text-align: center; font-style: italic; vertical-align: middle;">[A pr&eacute;ciser en lettres et en chiffres]</td>
        <td style="border: 1px solid #000; padding: 4px; text-align: center; font-style: italic; vertical-align: middle;">[A pr&eacute;ciser en lettres et en chiffres]</td>
        <td style="border: 1px solid #000; padding: 4px; text-align: center; font-style: italic; vertical-align: middle;">[A pr&eacute;ciser en lettres et en chiffres]</td>
    </tr>
    
    <!-- Montant de la TVA -->
    <tr>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top; text-align: left;">Montant de la TVA (francs CFA)</td>
        <td style="border: 1px solid #000; padding: 4px; text-align: center; font-style: italic; vertical-align: middle;">[A pr&eacute;ciser en lettres et en chiffres]</td>
        <td style="border: 1px solid #000; padding: 4px; text-align: center; font-style: italic; vertical-align: middle;">[A pr&eacute;ciser en lettres et en chiffres]</td>
        <td style="border: 1px solid #000; padding: 4px; text-align: center; font-style: italic; vertical-align: middle;">[A pr&eacute;ciser en lettres et en chiffres]</td>
    </tr>
    
    <!-- Montants TTC -->
    <tr>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top; text-align: left;">Montants TTC (francs CFA) <sup>(3)</sup></td>
        <td style="border: 1px solid #000; padding: 4px; text-align: center; font-style: italic; vertical-align: middle;">[A pr&eacute;ciser en lettres et en chiffres]</td>
        <td style="border: 1px solid #000; padding: 4px; text-align: center; font-style: italic; vertical-align: middle;">[A pr&eacute;ciser en lettres et en chiffres]</td>
        <td style="border: 1px solid #000; padding: 4px; text-align: center; font-style: italic; vertical-align: middle;">[A pr&eacute;ciser en lettres et en chiffres]</td>
    </tr>
    
    <!-- Montant de l'AIR ou TSR -->
    <tr>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top; text-align: left;">Montant de l'AIR<sup>(1)</sup> ou de TSR<sup>(2)</sup> (francs CFA), le cas &eacute;ch&eacute;ant</td>
        <td style="border: 1px solid #000; padding: 4px; text-align: center; font-style: italic; vertical-align: middle;">[A pr&eacute;ciser en lettres et en chiffres]</td>
        <td style="border: 1px solid #000; padding: 4px; text-align: center; font-style: italic; vertical-align: middle;">[A pr&eacute;ciser en lettres et en chiffres]</td>
        <td style="border: 1px solid #000; padding: 4px; text-align: center; font-style: italic; vertical-align: middle;">[A pr&eacute;ciser en lettres et en chiffres]</td>
    </tr>
    
    <!-- Net à percevoir -->
    <tr>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top; text-align: left;">Net &agrave; percevoir</td>
        <td style="border: 1px solid #000; padding: 4px; text-align: center; font-style: italic; vertical-align: middle;">[A pr&eacute;ciser en lettres et en chiffres]</td>
        <td style="border: 1px solid #000; padding: 4px; text-align: center; font-style: italic; vertical-align: middle;">[A pr&eacute;ciser en lettres et en chiffres]</td>
        <td style="border: 1px solid #000; padding: 4px; text-align: center; font-style: italic; vertical-align: middle;">[A pr&eacute;ciser en lettres et en chiffres]</td>
    </tr>
    </table>
    <br><br>
 
    <p>
        Le Maître d’Ouvrage se libérera des sommes dues par lui au titre du présent marché en faisant donner crédit au compte n° ………………................. ouvert au nom de …................................…. auprès de la banque …................................…………… Agence de …..............................……………………..
    </p>
    <br><br>

    <p>Nous nous engageons à exécuter les prestations dans les délais indiqués dans le tableau ci-dessous :</p> <br>

    
    <table style="border-collapse: collapse; width: 100%; table-layout: fixed; border: 1px solid #000;">
    <colgroup>
        <col style="width: 45%;">
        <col style="width: 55%;">
    </colgroup>
    
    <!-- EN-TETES -->
    <tr>
        <th style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold;">Phases</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold;">D&eacute;lais d'ex&eacute;cution (en mois)</th>
    </tr>
    
    <!-- Phase 1 -->
    <tr>
        <td style="border: 1px solid #000; padding: 4px; text-align: left;">Phase 1&nbsp;: Conception ou Etudes</td>
        <td style="border: 1px solid #000; padding: 4px; text-align: center; font-style: italic;">[A pr&eacute;ciser en lettres et en chiffres]</td>
    </tr>
    
    <!-- Phase 2 -->
    <tr>
        <td style="border: 1px solid #000; padding: 4px; text-align: left;">Phase 2&nbsp;: R&eacute;alisation des travaux</td>
        <td style="border: 1px solid #000; padding: 4px; text-align: center; font-style: italic;">[A pr&eacute;ciser en lettres et en chiffres]</td>
    </tr>
    
    <!-- Délai global -->
    <tr>
        <td style="border: 1px solid #000; padding: 4px; text-align: left;">D&eacute;lai global (Phase 1 + Phase 2)</td>
        <td style="border: 1px solid #000; padding: 4px; text-align: center; font-style: italic;">[A pr&eacute;ciser en lettres et en chiffres]</td>
    </tr>
    </table>
    <br><br>

    <p style="text-align: justify;">Notre Proposition financière a pour nous force obligatoire, sous réserve des modifications résultant de la négociation du Contrat, jusqu’à l’expiration du délai de validité de l’offre indiqué dans le RPAO. Veuillez agréer, Madame/Monsieur, l’assurance de notre considération distinguée.</p>

    <br><br><br>


    <p style="text-align: right;">Signature du représentant habilité : Nom et titre du signataire :<br>                                                     Nom du Candidat : Adresse :</p>


    <div class="page-break"></div>

    <h3>13.B. Etat récapitulatif des coûts  </h3>      
    <br><br>
    
    <table style="border-collapse: collapse; width: 100%; table-layout: fixed; border: 1px solid #000;">
    <colgroup>
        <col style="width: 55%;">
        <col style="width: 22%;">
        <col style="width: 23%;">
    </colgroup>
    
    <!-- EN-TETES -->
    <tr>
        <th style="border: 1px solid #000; padding: 4px; text-align: left; font-weight: normal;">Co&ucirc;ts</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: left; font-weight: normal;">Monnaie(s)<sup>(7)</sup></th>
        <th style="border: 1px solid #000; padding: 4px; text-align: left; font-weight: normal;">Montant(s)</th>
    </tr>
    
    <!-- Sous-total -->
    <tr>
        <td style="border: 1px solid #000; padding: 4px; height: 40px; vertical-align: top; text-align: left;">Sous-total</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
    </tr>
    
    <!-- Impôts, droits, taxes -->
    <tr>
        <td style="border: 1px solid #000; padding: 4px; height: 40px; vertical-align: top; text-align: left;">Imp&ocirc;ts, droits, taxes, et autres charges fiscales</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">
        <span style="display: block; width: 90%; border-bottom: 1px solid #000; margin-top: 4px;">&nbsp;</span>
        </td>
    </tr>
    </table>
        
     
    <div class="page-break"></div>

    <h3>13.C. Ventilation des coûts par activité</h3>
    <br><br>
    
    <table style="border-collapse: collapse; width: 100%; table-layout: fixed; border: 1px solid #000;">
    <colgroup>
        <col style="width: 34%;">
        <col style="width: 33%;">
        <col style="width: 33%;">
    </colgroup>
    
    <!-- LIGNE 1 : Activité no / Activité no / Description -->
    <tr>
        <td style="border: 1px solid #000; padding: 6px; vertical-align: top;">
        Activit&eacute; no&nbsp;:
        <span style="display: block; width: 70%; border-bottom: 1px solid #000; margin-top: 14px;">&nbsp;</span>
        </td>
        <td style="border: 1px solid #000; padding: 6px; vertical-align: top;">
        Activit&eacute; no&nbsp;:
        <span style="display: block; width: 70%; border-bottom: 1px solid #000; margin-top: 14px;">&nbsp;</span>
        </td>
        <td style="border: 1px solid #000; padding: 6px; vertical-align: top;">
        Description&nbsp;:
        <span style="display: block; width: 70%; border-bottom: 1px solid #000; margin-top: 14px;">&nbsp;</span>
        </td>
    </tr>
    
    <!-- LIGNE 2 : Composantes du prix / Monnaie(s) / Montant(s) -->
    <tr>
        <td style="border: 1px solid #000; padding: 6px; vertical-align: top; line-height: 2.4;">
        Composantes du prix<br>
        R&eacute;mun&eacute;ration<br>
        Frais remboursables<br>
        Frais divers<br>
        Sous-total
        </td>
        <td style="border: 1px solid #000; padding: 6px; vertical-align: top;">
        Monnaie(s)
        </td>
        <td style="border: 1px solid #000; padding: 6px; vertical-align: top; line-height: 2.4;">
        Montant(s)<br>
        &nbsp;<br>
        <span style="display: block; width: 90%; border-bottom: 1px solid #000; margin-top: 6px;">&nbsp;</span>
        </td>
    </tr>
    </table>
        
     
    <div class="page-break"></div>

    <h3>13.D. Coûts unitaires du personnel clé</h3>
    <br><br>

    <table style="border-collapse: collapse; width: 100%; table-layout: fixed; border: 1px solid #000;">
    <colgroup>
        <col style="width: 30%;">
        <col style="width: 20%;">
        <col style="width: 17%;">
        <col style="width: 17%;">
        <col style="width: 16%;">
    </colgroup>
    
    <!-- EN-TETES -->
    <tr>
        <th style="border: 1px solid #000; padding: 4px; text-align: left; font-weight: bold;">Noms et pr&eacute;noms</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: left; font-weight: bold;">Qualification/<br>fonction</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: left; font-weight: bold;">Co&ucirc;t<br>horaire</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold;">Co&ucirc;t<br>journalier</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold;">Co&ucirc;t<br>mensuel</th>
    </tr>
    
    <!-- LIGNES VIDES (5) -->
    <tr>
        <td style="border: 1px solid #000; height: 55px;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
    </tr>
    <tr>
        <td style="border: 1px solid #000; height: 55px;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
    </tr>
    <tr>
        <td style="border: 1px solid #000; height: 55px;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
    </tr>
    <tr>
        <td style="border: 1px solid #000; height: 55px;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
    </tr>
    <tr>
        <td style="border: 1px solid #000; height: 55px;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
    </tr>
    </table>
 

    <div class="page-break"></div>


    <h3>13.E. Coûts unitaires du personnel d’exécution</h3> 
    <br><br>
    
    <table style="border-collapse: collapse; width: 100%; table-layout: fixed; border: 1px solid #000;">
    <colgroup>
        <col style="width: 26%;">
        <col style="width: 20%;">
        <col style="width: 18%;">
        <col style="width: 18%;">
        <col style="width: 18%;">
    </colgroup>
    
    <!-- EN-TETES -->
    <tr>
        <th style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold;">Noms et pr&eacute;noms</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold;">Qualification/<br>fonction</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: left; font-weight: bold;">Co&ucirc;t<br>horaire</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold;">Co&ucirc;t<br>journalier</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold;">Co&ucirc;t<br>mensuel</th>
    </tr>
    
    <!-- LIGNES VIDES (5) -->
    <tr>
        <td style="border: 1px solid #000; height: 55px;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
    </tr>
    <tr>
        <td style="border: 1px solid #000; height: 55px;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
    </tr>
    <tr>
        <td style="border: 1px solid #000; height: 55px;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
    </tr>
    <tr>
        <td style="border: 1px solid #000; height: 55px;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
    </tr>
    <tr>
        <td style="border: 1px solid #000; height: 55px;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
    </tr>
    </table>


    <div class="page-break"></div>

    <h3>13.F. Ventilation de la rémunération par activité</h3>
    <br><br>
    
    <!-- LIGNE Activité no / Nom -->
    <p style="margin: 0 0 20px 0;">
    Activit&eacute; no&nbsp;:
    <span style="display: inline-block; width: 220px; border-bottom: 1px solid #000; margin-right: 30px;">&nbsp;</span>
    Nom&nbsp;:
    <span style="display: inline-block; width: 260px; border-bottom: 1px solid #000;">&nbsp;</span>
    </p>
    <br>
    <table style="border-collapse: collapse; width: 100%; table-layout: fixed; border: 1px solid #000;">
    <colgroup>
        <col style="width: 26%;">
        <col style="width: 16%;">
        <col style="width: 16%;">
        <col style="width: 24%;">
        <col style="width: 18%;">
    </colgroup>
    
    <!-- EN-TETES -->
    <tr>
        <th style="border: 1px solid #000; padding: 6px; text-align: center; font-weight: bold;">Noms</th>
        <th style="border: 1px solid #000; padding: 6px; text-align: center; font-weight: bold;">Poste</th>
        <th style="border: 1px solid #000; padding: 6px; text-align: center; font-weight: bold;">Apport</th>
        <th style="border: 1px solid #000; padding: 6px; text-align: center; font-weight: bold;">R&eacute;mun&eacute;ration<br>taux de change</th>
        <th style="border: 1px solid #000; padding: 6px; text-align: center; font-weight: bold;">Montant</th>
    </tr>
    
    <!-- LIGNE 1 : Personnel permanent / Personnel local / Consultants extérieurs / Total général -->
    <tr>
        <td style="border: 1px solid #000; padding: 6px; height: 130px; vertical-align: top; text-align: left;">
        Personnel permanent<br>
        Personnel local<br>
        Consultants ext&eacute;rieurs<br>
        Total g&eacute;n&eacute;ral
        </td>
        <td style="border: 1px solid #000; padding: 6px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 6px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 6px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 6px; vertical-align: top;">
        <span style="display: block; width: 85%; border-bottom: 1px solid #000; margin-top: 55px;">&nbsp;</span>
        </td>
    </tr>
    
    <!-- LIGNE 2 : espace vide -->
    <tr>
        <td style="border: 1px solid #000; height: 100px;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
    </tr>
    </table>
 

    <div class="page-break"></div>

    <h3>13.G. Frais remboursables par activité :</h3>
    <br><br>
    
    <!-- LIGNE Activité no / Nom -->
    <p style="margin: 0 0 20px 0;">
    Activit&eacute; no&nbsp;:
    <span style="display: inline-block; width: 220px; border-bottom: 1px solid #000; margin-right: 30px;">&nbsp;</span>
    Nom&nbsp;:
    <span style="display: inline-block; width: 260px; border-bottom: 1px solid #000;">&nbsp;</span>
    </p>
    <br>
    <table style="border-collapse: collapse; width: 100%; table-layout: fixed; border: 1px solid #000;">
    <colgroup>
        <col style="width: 6%;">
        <col style="width: 34%;">
        <col style="width: 14%;">
        <col style="width: 14%;">
        <col style="width: 14%;">
        <col style="width: 18%;">
    </colgroup>
    
    <!-- EN-TETES -->
    <tr>
        <th style="border: 1px solid #000; padding: 4px; text-align: left; font-weight: normal;">No</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: left; font-weight: normal;">Description</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: left; font-weight: normal;">Unit&eacute;</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: left; font-weight: normal;">Quantit&eacute;</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: left; font-weight: normal;">Prix<br>unitaire</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: left; font-weight: normal;">Montant<br>total</th>
    </tr>
    
    <!-- LIGNE 1 : Voyages aériens internationaux -->
    <tr>
        <td style="border: 1px solid #000; padding: 4px; height: 60px; vertical-align: top;">1.</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">
        Voyages a&eacute;riens internationaux
        <span style="display: block; width: 55%; border-bottom: 1px solid #000; margin-top: 20px;">&nbsp;</span>
        </td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">par voyage</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
    </tr>
    
    <!-- LIGNE 2 : Frais de voyage divers -->
    <tr>
        <td style="border: 1px solid #000; padding: 4px; height: 55px; vertical-align: top;">2.</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">Frais de voyage divers</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">par voyage</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
    </tr>
    
    <!-- LIGNE 3 : Indemnité de subsistance -->
    <tr>
        <td style="border: 1px solid #000; padding: 4px; height: 55px; vertical-align: top;">3.</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">Indemnit&eacute; de subsistance</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">par jour</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">
        <span style="display: block; width: 90%; border-bottom: 1px solid #000; margin-top: 22px;">&nbsp;</span>
        </td>
    </tr>
    
    <!-- LIGNE 4 : Frais de transport locaux -->
    <tr>
        <td style="border: 1px solid #000; padding: 4px; height: 55px; vertical-align: top;">4.</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">Frais de transport locaux</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
    </tr>
    
    <!-- LIGNE 5 : Loyers de bureaux/logement/services de bureau + Total général -->
    <tr>
        <td style="border: 1px solid #000; padding: 4px; height: 130px; vertical-align: top;">5.</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">
        Loyers de bureaux/logement/<br>services de bureau
        <p style="margin: 45px 0 0 0; font-weight: bold;">Total g&eacute;n&eacute;ral</p>
        </td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
    </tr>
    </table>

    
    <div class="page-break"></div>

    <h3>13.H. Frais divers</h3>
    <br><br>

   
    <!-- LIGNE Activité no / Nom -->
    <p style="margin: 0 0 4px 0;">
    Activit&eacute; no&nbsp;:
    <span style="display: inline-block; width: 220px; border-bottom: 1px solid #000; margin-right: 30px;">&nbsp;</span>
    Nom&nbsp;:
    <span style="display: inline-block; width: 260px; border-bottom: 1px solid #000;">&nbsp;</span>
    </p>
    <p style="margin: 0 0 20px 0;">
    <span style="display: inline-block; width: 240px; border-bottom: 1px solid #000;">&nbsp;</span>
    </p>
    <br>
    <table style="border-collapse: collapse; width: 100%; table-layout: fixed; border: 1px solid #000;">
    <colgroup>
        <col style="width: 6%;">
        <col style="width: 42%;">
        <col style="width: 12%;">
        <col style="width: 12%;">
        <col style="width: 12%;">
        <col style="width: 16%;">
    </colgroup>
    
    <!-- EN-TETES -->
    <tr>
        <th style="border: 1px solid #000; padding: 4px; text-align: left; font-weight: bold;">No</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold;">Description</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold;">Unit&eacute;</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold;">Quantit&eacute;</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold;">Prix<br>unitaire</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold;">Montant<br>total</th>
    </tr>
    
    <!-- LIGNE 1 : Frais de communications -->
    <tr>
        <td style="border: 1px solid #000; padding: 4px; height: 75px; vertical-align: top;">1.</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">
        Frais de communications entre
        <span style="display: block; margin-top: 4px;">
            <span style="display: inline-block; width: 30%; border-bottom: 1px solid #000;">&nbsp;</span>
            et
            <span style="display: inline-block; width: 30%; border-bottom: 1px solid #000;">&nbsp;</span>
        </span>
        <span style="display: block; margin-top: 6px;">(t&eacute;l&eacute;phone, fax, e-mail)</span>
        </td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
    </tr>
    
    <!-- LIGNE 2 : Rédaction, reproduction de rapports -->
    <tr>
        <td style="border: 1px solid #000; padding: 4px; height: 45px; vertical-align: top;">2.</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">R&eacute;daction, reproduction de rapports</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
    </tr>
    
    <!-- LIGNE 3 : Matériel : véhicules, ordinateurs, etc. -->
    <tr>
        <td style="border: 1px solid #000; padding: 4px; height: 40px; vertical-align: top;">3.</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">Mat&eacute;riel&nbsp;: v&eacute;hicules, ordinateurs, etc.</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">&nbsp;</td>
        <td style="border: 1px solid #000; padding: 4px; vertical-align: top;">
        <span style="display: block; width: 90%; border-bottom: 1px solid #000; margin-top: 4px;">&nbsp;</span>
        </td>
    </tr>
    </table>

    <div class="page-break"></div>


    <h3>13.I. Cadre du bordereau des prix unitaires</h3>
    <br><br>

    
    <!-- LIGNE de note en italique -->
    <p style="margin: 0 0 10px 0; font-style: italic;">
    [A pr&eacute;parer et ins&eacute;rer dans le Dossier d'appel d'offres par
    </p>
    
    <table style="border-collapse: collapse; width: 100%; table-layout: fixed; border: 1px solid #000;">
    <colgroup>
        <col style="width: 8%;">
        <col style="width: 40%;">
        <col style="width: 10%;">
        <col style="width: 16%;">
        <col style="width: 16%;">
        <col style="width: 10%;">
    </colgroup>
    
    <!-- EN-TETES -->
    <tr>
        <th rowspan="2" style="border: 1px solid #000; padding: 4px; text-align: left; font-weight: bold; vertical-align: middle;">N&deg;<br>Prix</th>
        <th rowspan="2" style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold; vertical-align: middle;">D&eacute;signation des t&acirc;ches<br>et prix unitaires en toutes lettres</th>
        <th rowspan="2" style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold; vertical-align: middle;">Unit&eacute;</th>
        <th colspan="2" style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold;"><span style="text-decoration: underline;">Prix unitaires<br>(en chiffres)</span></th>
        <th rowspan="2" style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold; vertical-align: middle;">Prix unitaires<br>(en lettre&nbsp;)</th>
    </tr>
    <tr>
        <th style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: normal;">(F CFA<br>HTVA)</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: normal;">En devise,<br>le cas<br>&eacute;ch&eacute;ant</th>
    </tr>
    
    <!-- LIGNES VIDES (4) -->
    <tr>
        <td style="border: 1px solid #000; height: 65px;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
    </tr>
    <tr>
        <td style="border: 1px solid #000; height: 65px;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
    </tr>
    <tr>
        <td style="border: 1px solid #000; height: 65px;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
    </tr>
    <tr>
        <td style="border: 1px solid #000; height: 65px;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
    </tr>
    </table> 

    <div class="page-break"></div>

    <h3>13.J. Cadre du détail estimatif</h3>
    <br><br>
    
    
    <table style="border-collapse: collapse; width: 100%; table-layout: fixed; border: 1px solid #000;">
    <colgroup>
        <col style="width: 9%;">
        <col style="width: 30%;">
        <col style="width: 9%;">
        <col style="width: 11%;">
        <col style="width: 11%;">
        <col style="width: 12%;">
        <col style="width: 9%;">
        <col style="width: 9%;">
    </colgroup>
    
    <!-- EN-TETES -->
    <tr>
        <th rowspan="2" style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold; vertical-align: middle;">N&deg; Prix</th>
        <th rowspan="2" style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold; vertical-align: middle;">D&eacute;signation</th>
        <th rowspan="2" style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold; vertical-align: middle;">Unit&eacute;</th>
        <th rowspan="2" style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold; vertical-align: middle;">Quantit&eacute;</th>
        <th colspan="2" style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold;">Prix unitaires</th>
        <th colspan="2" style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: bold;">Prix total</th>
    </tr>
    <tr>
        <th style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: normal;">(F CFA<br>HTVA)</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: normal;">En d&eacute;vises,<br>le cas<br>&eacute;ch&eacute;ant</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: normal;">(F CFA<br>HTVA)</th>
        <th style="border: 1px solid #000; padding: 4px; text-align: center; font-weight: normal;">En d&eacute;vises,<br>le cas<br>&eacute;ch&eacute;ant</th>
    </tr>
    
    <!-- LIGNES VIDES (3) -->
    <tr>
        <td style="border: 1px solid #000; height: 90px;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
    </tr>
    <tr>
        <td style="border: 1px solid #000; height: 90px;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
    </tr>
    <tr>
        <td style="border: 1px solid #000; height: 90px;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
        <td style="border: 1px solid #000;">&nbsp;</td>
    </tr>
    </table>
    
    <div class="page-break"></div>

    <h3>13.K. Cadre du sous-détail des prix unitaires </h3>
    <br><br>

    <p style="text-align: center; font-weight: bold;">Note relative à la présentation des sous détails des prix et taxes</p> <br><br>

    <p>1. Un sous détail expose toutes les étapes d’établissement d’un prix de vente. Aussi, constitue-t-il un élément important d’appréciation de la qualité du prix proposé par un soumissionnaire.</p> <br>

    <p>Il n’est pas nécessaire d’imposer un modèle de présentation à tous les soumissionnaires, compte tenu de la grande diversité de logiciels de détermination des sous- détails de prix. En revanche, ils pourront comporter les éléments suivants :<br>             
        
    <div style="margin-left: 20px;">
        <p>a. Détail du coefficient de vente suivant le modèle présenté après la présente note ;</p><br>
        <p>b. Coût en prix secs des matériels prévus pour la prestation ;</p><br>
        <p>c. Coût en prix secs des fournitures nécessaires à la prestation ;</p><br>
        <p>d. Coût de la ressource humaine locale et expatriée ;</p><br>
        <p>e. Pour chaque prix du bordereau, une fiche issue des points a, b, c et d susvisés, indiquant <p>
            les  rendements conduisant aux prix unitaires ;</p><br>
            f. Le sous détail précis des forfaits d’aménagement, d’entretien des locaux et de fourniture des moyens mis à la disposition, le cas échéant;
        </p><br>
        <p>g. Le sous détail des impôts et taxes.</p>
    </div>
    <br><br>

    <p>2. Cadre de présentation du coefficient de vente, encore appelé coefficients de frais généraux.</p> <br>

    <h3>A. Frais généraux de la prestation</h3> <br>
     
    <table style="border-collapse: collapse; width: 300px;">
    <colgroup>
        <col style="width: 60%;">
        <col style="width: 40%;">
    </colgroup>
    
    <tr>
        <td style="padding: 2px 4px; text-align: left;">"</td>
        <td style="padding: 2px 4px; text-align: right;">.....</td>
    </tr>
    <tr>
        <td style="padding: 2px 4px; text-align: left;">" ...</td>
        <td style="padding: 2px 4px; text-align: right;">.....</td>
    </tr>
    <tr>
        <td style="padding: 2px 4px; text-align: left;">" ...</td>
        <td style="padding: 2px 4px; text-align: right;">
        <span style="display: inline-block; width: 90%; border-bottom: 1px solid #000;">&nbsp;</span>
        </td>
    </tr>
    <tr>
        <td style="padding: 4px 4px 2px 4px; text-align: left;">Total</td>
        <td style="padding: 4px 4px 2px 4px; text-align: right;">C1</td>
    </tr>
    </table>

    <br>

    <h3>B. Frais généraux de siège</h3> <br>

    <table style="border-collapse: collapse; width: 300px;">
    <colgroup>
        <col style="width: 60%;">
        <col style="width: 40%;">
    </colgroup>
    
    <tr>
        <td style="padding: 2px 4px; text-align: left;">- Frais siège</td>
        <td style="padding: 2px 4px; text-align: right;">.....</td>
    </tr>
    <tr>
        <td style="padding: 2px 4px; text-align: left;">- Frais financiers</td>
        <td style="padding: 2px 4px; text-align: right;">.....</td>
    </tr>
    <tr>
        <td style="padding: 2px 4px; text-align: left;">- Aléas et bénéfice</td>
        <td style="padding: 2px 4px; text-align: right;">.....</td>
    </tr>
    <tr>
        <td style="padding: 2px 4px; text-align: left;">" ...</td>
        <td style="padding: 2px 4px; text-align: right;">
        <span style="display: inline-block; width: 90%; border-bottom: 1px solid #000;">&nbsp;</span>
        </td>
    </tr>
    <tr>
        <td style="padding: 4px 4px 2px 4px; text-align: left;">Total</td>
        <td style="padding: 4px 4px 2px 4px; text-align: right;">C2</td>
    </tr>
    </table>

    <br>

    <p style="text-align: justify; margin: 8px 0;">Coefficient de vente k = 100/(100-C)<br>avec C=C1+C2</p>
    <br><br>

    <p> Le Maître d’Ouvrage peut proposer un cadre du sous détail des prix unitaires comportant les éléments<br>énoncés au point 1 ci-dessus.</p>
</div>