<!-- Table des matières -->

<div style="font-family: Arial, sans-serif; line-height: 2;">

    <h2 style="text-align: center; margin-bottom: 50px;">
        TABLE DES MATIÈRES
    </h2>

    <div style="padding: 0 30px;">

        <p style="margin-bottom: 18px;">
            <a href="#bookmark0">Pièce N°0 : Lettre d’invitation à soumissionner (le cas échéant)</a>
            <span style="float: right;">6</span>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#bookmark7">Pièce N°1 : Avis d'Appel d'Offres (AAO)</a>
            <span style="float: right;">10</span>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#bookmark10">Pièce N°2 : Règlement Général de l'Appel d'Offres (RGAO)</a>
            <span style="float: right;">24</span>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#bookmark56">Pièce N°3 : Règlement Particulier de l’Appel d’Offres (RPAO)</a>
            <span style="float: right;">56</span>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#bookmark57">Pièce N°4 : Cahier des Clauses Administratives Particulières (CCAP)</a>
            <span style="float: right;">81</span>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#bookmark106">Pièce N°5 : Cahier des Clauses Techniques Particulières (CCTP)</a>
            <span style="float: right;">116</span>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#bookmark107">Pièce N°6 : Cadre du bordereau des prix unitaires</a>
            <span style="float: right;">120</span>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#bookmark108">Pièce N°7 : Cadre du détail quantitatif et estimatif</a>
            <span style="float: right;">125</span>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#bookmark109">Pièce N°8 : Cadre du sous-détail des prix</a>
            <span style="float: right;">129</span>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#bookmark110">Pièce N°9 : Modèle de marché</a>
            <span style="float: right;">133</span>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#bookmark111">Pièce N°10 : Modèles ou formulaires types</a>
            <span style="float: right;">138</span>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#bookmark114">Pièce N°11 : Charte d’intégrité</a>
            <span style="float: right;">165</span>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#bookmark115">Pièce N°12 : Déclaration d’engagement (clauses sociales et environnementales)</a>
            <span style="float: right;">170</span>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#bookmark116">Pièce N°13 : Visa de maturité / études préalables</a>
            <span style="float: right;">174</span>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#bookmark117">Pièce N°14 : Liste des organismes habilités à émettre des cautions</a>
            <span style="float: right;">177</span>
        </p>

        <p style="margin-bottom: 18px;">
            <a href="#bookmark118">Pièce N°15 : Procédure de passation des marchés en ligne</a>
            <span style="float: right;">180</span>
        </p>

    </div>

</div>