<!-- PREFACE -->
<div>
    <h2 style="text-align: center; margin-top: 80px;">PRÉFACE</h2>

    <p style="padding: 0 12pt; text-align: justify; line-height: 1.5;">
        Le présent Dossier Type d'Appel d'Offres est élaboré par l'Agence de Régulation des Marchés Publics (ARMP) et mis en
        vigueur par l'Autorité chargée des Marchés Publics à l'intention des Maîtres d'Ouvrage et des Maîtres d'Ouvrage
        Délégués, pour la passation des marchés de conception-réalisation par voie d'appel d'offres avec concours.
    </p>

    <p style="padding: 0 12pt; text-align: justify; line-height: 1.5;">
        Il comprend :
    </p>

    <!-- Liste des pièces -->
    <div style="padding-left: 40px; line-height: 1.6;">

        <p>Pièce N°1 : Avis d'Appel d'Offres (AAO)</p>
        <p>Pièce N°2 : Règlement Général de l'Appel d'Offres (RGAO)</p>
        <p>Pièce N°3 : Règlement Particulier de l'Appel d'Offres (RPAO)</p>
        <p>Pièce N°4 : Cahier des Clauses Administratives Particulières (CCAP)</p>
        <p>Pièce N°5 : Termes de Référence (TDR)</p>
        <p>Pièce N°6 : Cahier des Clauses Techniques Particulières (CCTP) - (le cas échéant)</p>
        <p>Pièce N°7 : Cadre du Bordereau des Prix Unitaires</p>
        <p>Pièce N°8 : Cadre du Détail Quantitatif et Estimatif</p>
        <p>Pièce N°9 : Cadre du Sous-Détail des Prix ou Décomposition des Prix Forfaitaires</p>
        <p>Pièce N°10 : Modèle de Marché</p>
        <p>Pièce N°11 : Modèles de Documents à Utiliser par les Soumissionnaires</p>
        <p>Pièce N°12 : Modèles des Pièces et Tableaux Types pour la Proposition Technique</p>
        <p>Pièce N°13 : Modèles des Pièces et Tableaux Types pour la Proposition Financière</p>
        <p>Pièce N°14 : Charte d'Intégrité</p>
        <p>Pièce N°15 : Engagement Social et Environnemental</p>
        <p>Pièce N°16 : Grilles d'Évaluation</p>
        <p>Pièce N°17 : Justificatifs des Études Préalables (le cas échéant)</p>
        <p>Pièce N°18 : Liste des Établissements Bancaires et Organismes Financiers Autorisés à Émettre des Cautions dans le Cadre des Marchés Publics</p>
        <p>Pièce N°19 : Procédure de Soumission en Ligne</p>

    </div>

    <p style="padding-top: 3pt;padding-left: 12pt;text-indent: 0pt;line-height: 150%;text-align: justify;"><u>N.B</u> : Ce document de facilitation, élaboré par l'ARMP et mis en vigueur par l'Autorité chargée des marchés publics, doit être considéré comme un canevas ayant pour but d'aider les maîtres d'ouvrages et maîtres d'ouvrage délégués à élaborer leurs dossiers d'appels d'offres relatifs aux marchés de conception-réalisation.</p>

    <p style="padding-top: 6pt;padding-left: 12pt;text-indent: 0pt;line-height: 150%;text-align: justify;">Pour sa bonne utilisation, il est impératif de se référer aux notes d'informations de bas de page et aux exemples qui y sont contenus. Il est disponible au siège de l'ARMP et dans ses Centres Régionaux, et électroniquement sur les plateformes http://www.publiccontracts.cm et www.armp.cm.</p>

    <p style="padding-top: 6pt;padding-left: 12pt;text-indent: 0pt;line-height: 150%;text-align: justify;">Après insertion des détails spécifiques aux emplacements indiqués et suppression des dispositions alternatives non appropriées, le document peut être utilisé, une fois que le Maître d'Ouvrage ou le Maître d'Ouvrage Délégué s'est assuré de l'absence de contradiction ou de conflit entre clauses.</p>

    <p style="padding-top: 6pt;padding-left: 12pt;text-indent: 0pt;text-align: justify;">Les instructions générales qui suivent doivent par ailleurs être respectées par les utilisateurs de ce document :</p>
    <ol style="padding-left: 30pt; line-height: 1.5;">
        <li style="padding-top: 6pt; text-align: justify;">Les informations particulières, comme le nom du Maître d'Ouvrage ou du Maître d'Ouvrage Délégué et l'adresse pour le retrait du Dossier d'Appel d'Offres (DAO), doivent être renseignées dans l'Avis d'Appel d'Offres et dans le Règlement Particulier de l'Appel d'Offres. Le document final ne doit pas comporter de vide ou de dispositions alternatives ;</li>
        <li style="padding-top: 6pt; text-align: justify;">Les notes de bas de page ou en italique insérées dans l'Avis d'Appel d'Offres, le RPAO, le CCAP et les Termes de Référence représentent des instructions ou guides à suivre par le Maître d'Ouvrage ou le Maître d'Ouvrage Délégué. Elles ne doivent plus apparaître dans le document final ;</li>
        <li style="padding-top: 6pt; text-align: justify;">Les notes de bas de page insérées dans les formulaires objet des Pièces n° 11, 12 et 13, devant être remplis par le Soumissionnaire, sont à conserver, car elles contiennent des instructions à l'intention de ce dernier ;</li>
        <li style="padding-top: 6pt; text-align: justify;">Les critères de qualification des candidats et d'analyse des offres ainsi que les diverses méthodes d'évaluation présentées dans le RGAO doivent faire l'objet d'un examen approfondi en vue de ne retenir dans le RPAO que ceux applicables à la consultation considérée, en tenant compte de la spécificité du concours (proposition artistique, technique et financière) ;</li>
        <li style="padding-top: 6pt; text-align: justify;">Il est important de rappeler que les dossiers d'appels d'offres relatifs à certains marchés spécifiques priment sur le présent document s'ils sont élaborés et mis en vigueur conformément à la réglementation en vigueur.</li>
    </ol>
</div>
