<div>
    <h1 style="padding-top:500px; text-align: center;"><a name="snq5"></a>PIECE N° 5</h1>
    <h1 style="text-align:center;">TERMES DE REFERENCE (TDR)</h1>

    <div class="page-break"></div>

    <h2 style="text-align: center;">TERMES DE RÉFÉRENCE</h2>

    <ol>
        <li><h3>I. Contexte / justification</h3><div style="padding:15px;">{{ tdr.contexte_justification|safe }}</div></li>
        <li><h3>II. Objectif de la mission du prestataire</h3><div style="padding:15px;">{{ tdr.objectif_mission|safe }}</div></li>
        <li><h3>III. Consistance de la mission du candidat</h3><div style="padding:15px;">{{ tdr.consistance_mission|safe }}</div></li>
        <li><h3>IV. Documentation de base</h3><div style="padding:15px;">{{ tdr.documentation_base|safe }}</div></li>
        <li><h3>V. Méthodologie</h3><div style="padding:15px;">{{ tdr.methodologie|safe }}</div></li>
        <li><h3>VI. Rapports à produire par le prestataire</h3><div style="padding:15px;">{{ tdr.rapports_a_produire|safe }}</div></li>
        <li><h3>VII. Calendrier</h3><div style="padding:15px;">{{ tdr.calendrier|safe }}</div></li>
        <li><h3>VIII. Profil du consultant</h3><div style="padding:15px;">{{ tdr.profil_consultant|safe }}</div></li>
    </ol>
</div>
