<div>
    <h1 style="padding-top:500px; text-align: center;"><a name="snq12"></a>PIECE N° 12</h1>
    <h1 style="text-align:center;">VISA DE MATURITE OU JUSTIFICATIFS</h1>
    <h2 style="text-align:center;">DES ETUDES PREALABLES</h2>

    <div class="page-break"></div>

    <p style="font-style:italic; text-align: justify; margin: 8px 0;">[A remplir systématiquement par le Maître d'Ouvrage ou le Maître d'Ouvrage Délégué en fonction de la nature des prestations à réaliser et selon les précisions des articles 54 à 57 du Code des Marchés Publics].</p>

    <h3 style="margin:30px 0px;">Note relative aux études préalables</h3>
    <p style="text-align: justify; margin: 8px 0;">Conformément au Code des Marchés Publics, le Maître d'Ouvrage ou le Maître d'Ouvrage Délégué, doit, avant d'engager la procédure de passation des marchés ou de saisine de la Commission de Passation des Marchés compétente, veiller à ce que les projets de Dossiers d'Appel d'Offres se fassent à partir d'études préalables.</p>
    <p style="text-align: justify; margin: 8px 0;">Ces études doivent être exigées lors de l'examen du Dossier d'Appel d'Offres (DAO) par les Commissions des Marchés.</p>
    <p style="text-align: justify; margin: 8px 0;">Le Maître d'Ouvrage ou le Maître d'Ouvrage Délégué est tenu de remplir le questionnaire ci-après accompagné des justificatifs desdites études.</p>

    <div class="page-break"></div>

    <h3 style="margin-top: 18px; text-align: center;">JUSTIFICATIF DES ETUDES PREALABLES</h3>
    <p style="text-align: justify; margin: 10px 0;">1. Ce projet a-t-il fait l'objet d'une étude préalable :</p>
    <p style="text-align: justify; margin: 10px 0;">2. Si oui la joindre et indiquer :</p>
    <ol style="padding-left: 30pt; margin: 0 0 12px 0;">
        <li style="margin-bottom: 6px;">La date ;</li>
        <li style="margin-bottom: 6px;">Le nom du Maître d'Œuvre public ou privé ;</li>
        <li style="margin-bottom: 6px;">Les références du marché, si maîtrise d'œuvre privée ;</li>
        <li>La description des études : TDR, Spécifications techniques.</li>
    </ol>
    <p style="text-align: justify; margin: 10px 0;">3. Les quantités de détail estimatif sont-elles compatibles avec l'enveloppe financière disponible ? Au cas où les quantités ne sont pas compatibles avec le montant disponible, la Commission des Marchés devra exiger l'actualisation de l'étude préalable avant le lancement de la consultation :</p>
    <p style="text-align: justify; margin: 10px 0;">4. Le Maître d'Ouvrage peut également fournir un calcul justificatif des quantités du DAO (pour des prestations de moindre envergure notamment).</p>
    <p style="font-style: italic; text-align: justify; margin: 10px 0;">N.B : Le Président de la Commission des Marchés peut avant de se prononcer, solliciter l'avis d'un expert sur la qualité des études réalisées.</p>
</div>
