<div>
    <h1 style="padding-top:500px; text-align: center;"><a name="snq11"></a>PIECE N° 11</h1>
    <h1 style="text-align: center;">DECLARATION D'ENGAGEMENT AU RESPECT</h1>
    <h2 style="text-align: center;">DES CLAUSES SOCIALES ET ENVIRONNEMENTALES</h2>

    <div class="page-break"></div>

    <p style="padding-left: 12pt;"><strong>INTITULE DE L'APPEL D'OFFRES</strong> : ________________________________________________________________________</p>
    <p style="padding-left: 12pt; text-align: justify;"><strong>LE «&nbsp;…….SOUMISSIONNAIRE…….&nbsp;»</strong></p>
    <p style="padding-left: 12pt; text-align: right;">A MONSIEUR LE « Maître d'Ouvrage »</p>

    <p style="padding-left: 12pt; text-align: justify;">Dans le cadre de la passation et de l'exécution du Marché :</p>
    <ol>
        <li style="text-align: justify;">Nous nous engageons à respecter et à faire respecter par les membres de notre groupement, l'ensemble de nos sous-traitants les normes environnementales et sociales reconnues par la communauté internationale parmi lesquelles figurent les conventions fondamentales de l'Organisation Internationale du Travail (OIT) et les conventions internationales pour la protection de l'environnement en cohérence avec les lois et règlement applicables au Cameroun.</li>
        <li style="text-align: justify;">En outre, nous nous engageons également à mettre en œuvre les mesures d'atténuation des risques environnementaux et sociaux, dans la notice d'impact environnemental et social fournie par le Maître d'Ouvrage.</li>
        <li style="text-align: justify;">Nous-mêmes, les membres de notre groupement et nos sous-traitants autorisons, le Maître d'ouvrage à examiner les documents et pièces comptables relatifs à la passation et l'exécution du Marché et à les soumettre pour vérification aux auditeurs désignés par l'ARMP.</li>
    </ol>

    <p style="padding-left: 12pt; margin-top: 20pt;">Signature :</p>
    <p style="padding-left: 12pt;">Nom : ________________________________</p>
    <p style="padding-left: 12pt;">Dûment habilité à signer l'offre pour et au nom de : _____________________</p>
    <p style="padding-left: 12pt;">En date du ________________________</p>
</div>
