<!-- templates/base_dao.html -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>DAO - {{ appel_offre.numero_appel_offre }}</title>
    <meta name="author" content="REPARAC 4"/>

    <style type="text/css">
        /* VOTRE STYLE COMPLET ICI (tout le contenu de la balise style) */
        .page-break {
            page-break-before: always; 
        }
        
        * {
            margin:0; 
            padding:0; 
            text-indent:0; 
        }
        
        .s1 { color: black; font-family:'Times New Roman', Times, serif, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 16pt; }

        
        /* ... tout le reste de votre CSS ... */
    </style>
</head>
<body style="margin: 0 30px;">
    {% block content %}
    {% endblock %}
</body>
</html>